<article>
    <header class="generic-header">
        <section>
        <app-upvote-downvote-component id="action-buttons"></app-upvote-downvote-component>
        <span>{{post.author}}</span>
        </section>
    </header>

    <section id="post-content">
        <p>{{post.content}}</p>
    </section>

    <footer>
        <section id="infos">
            <p>{{post.likeCount}} {{post.likeCount > 1 ? "upvotes" : "upvote"}} · Created at: {{postDateConverted}}</p>
        </section>        
    </footer>
</article>
