main
{
    transition: all;
    transition-duration: 0.1s;

    position: absolute;
    left: calc(100vw/2 - 60vw/2);

    width: 60vw;
    background-color: var(--popupBackgroundColor);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);

}

@media screen and (max-width: 720px){
    main
    {
        width: 100vw;
        left: 0;

    }
}

main .generic-header
{
    border-bottom: none!important;
    background-color: var(--popupBackgroundColor)!important;

}

main article
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: 25vh;

}