@keyframes inAnimation {
  from {
    transform: scale(95%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.in-animation {
  animation: inAnimation 0.35s cubic-bezier(0.5, -0.07, 0.22, 1);
}
